b0dy {background-color:rgb(240, 9, 178); font-size: large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center;}
h1 {color:rgb(36, 198, 216); rgb(255, 136, 0); text-align: left;}                                                                           
p {color:blue;}